<div class="main-header container-fluid">
  <section class="logoWithText">
    <img src="assets/movie_icon.png" class="main-logo">
    <p>Movies</p>
  </section>
  <div class="dropdown">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="d-none d-md-inline-block">My Account</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" [routerLink]="'/favorite'" >My favorites</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" [routerLink]="'/'" >Latest Releases</a>
    </div>
  </div>
</div>
