<div (window:resize)="onResize($event)">
  <app-header></app-header>
  <div class="d-flex flex-column main-body">
    <label class="lastReleases">Latest Releases</label>
    <div class="postersList">
      <div class="posterItem" *ngFor="let poster of posters">
        <img src="{{poster.fullImagePath}}"
             ngbTooltip="{{poster.name}}"
             [routerLink]="'/details'"
             (click)="onPosterSelected(poster)">
      </div>
    </div>
    <ngb-pagination [collectionSize]="nowPlaying?.total_results"
                    *ngIf="nowPlaying?.total_results"
                    [pageSize]="pageSize"
                    [boundaryLinks]="isBoundaryLinks"
                    [maxSize]="maxSize"
                    [(page)]="page"
                    (pageChange)="onPageChange($event)"
                    id="pagination"
                    class="d-flex justify-content-center main-paginator">
      <ng-template ngbPaginationFirst>First</ng-template>
      <ng-template ngbPaginationLast>Last</ng-template>
      <ng-template ngbPaginationPrevious>Prev</ng-template>
      <ng-template ngbPaginationNext>Next</ng-template>
      <ng-template ngbPaginationEllipsis>...</ng-template>
      <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
    </ngb-pagination>
  </div>
</div>
