<div class="container-fluid p-0" (window:resize)="onResize($event)">
  <div class="main-header">
    <section class="logoWithText">
      <img src="assets/movie_icon.png" class="main-logo">
      <p>Movies</p>
    </section>
    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="d-none d-sm-inline-block">My Account</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">Settings</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Log out</a>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column main-body">
    <label class="lastReleases">Latest Releases</label>
    <div class="postersList">
      <div class="posterItem" *ngFor="let poster of posters">
        <img src="{{poster.fullImagePath}}"
             ngbTooltip="{{poster.name}}"
             [routerLink]="'/details'"
             (click)="onPosterSelected(poster)">
      </div>
    </div>
    <ngb-pagination [collectionSize]="nowPlaying?.total_results"
                    [pageSize]="pageSize"
                    [boundaryLinks]="isBoundaryLinks"
                    [maxSize]="maxSize"
                    [(page)]="page"
                    (pageChange)="onPageChange($event)"
                    class="d-flex justify-content-center main-paginator">
      <ng-template ngbPaginationFirst>First</ng-template>
      <ng-template ngbPaginationLast>Last</ng-template>
      <ng-template ngbPaginationPrevious>Prev</ng-template>
      <ng-template ngbPaginationNext>Next</ng-template>
      <ng-template ngbPaginationEllipsis>...</ng-template>
      <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
    </ngb-pagination>
  </div>
</div>
