<!--<div class="container">-->
<!--  <h1>detail works!</h1>-->
<!--  <h2>{{poster.id}}</h2>-->
<!--  <h2>{{poster.name}}</h2>-->

<!--</div>-->
<div class="container-fluid">
  <div class="bg-image" [ngStyle]="{'background-image': 'url(' + poster?.fullBackgroundPath  + ')'}"></div>

  <div class="text-area">
    <div class="row justify-content-between nav-header">
      <button class="btn btn-primary" [routerLink]="'/'">Back to list</button>
      <button class="btn btn-primary" (click)="nextMovie()">Next Movie</button>
    </div>
    <div class="row justify-content-center detail-body">
      <div class="col-lg-3">
        <img src="{{ poster.fullImagePath }}">
      </div>
      <div class="col-lg-7">
        <div class="d-flex justify-content-end">
          <button class="btn btn-secondary">Add to favorite</button>
        </div>
        <h1>{{poster.name}}</h1>
        <div class="row">
          <div class="col-lg-3">
            <h4>Score: {{poster.score}}</h4>
          </div>
          <div class="col-lg-3 vertical-line">
            <h4>Rating: {{poster.rating}}</h4>
          </div>
          <div class="col-lg-6 vertical-line">
            <h4>Release Date: {{poster.release_date | date}}</h4>
          </div>
        </div>
        <hr>
        <h6>{{poster.overview}}</h6>
        <hr>
      </div>
    </div>
  </div>
</div>


