.bg-image{
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(20px);
}

.nav-header{
  padding: 20px;
}

.leftArrowCircle {
  display: inline-block;
  width: 2em;
  height: 2em;
  border: 0.25em solid mintcream;
  border-radius: 50%;
}

.leftArrow {
  content: '';
  display: inline-block;
  margin-top: 0.7em;
  margin-left: 0.7em;
  width: 0.7em;
  height: 0.7em;
  border-top: 0.25em solid mintcream;
  border-right: 0.25em solid mintcream;
  transform: rotate(-135deg);
}

.rightArrowCircle {
  display: inline-block;
  width: 2em;
  height: 2em;
  border: 0.25em solid mintcream;
  border-radius: 50%;
}

.rightArrow {
  content: '';
  display: inline-block;
  margin-top: 0.7em;
  margin-left: -0.7em;
  width: 0.7em;
  height: 0.7em;
  border-top: 0.25em solid mintcream;
  border-right: 0.25em solid mintcream;
  transform: rotate(45deg);
}

button{
  outline:none;
}

.btn-backToList{
  padding: 20px 30px;
}

.txt-gap{
  margin-left: 3em;
}

h1, h2, h3, h4, h5, h6, span, p, div{
  color: mintcream;
}

.vertical-line{
  border-left: 1px solid gray;
}

.detail-body{
  padding-top: 50px;
}

.posterImage{
  width: 25%;
  justify-content: flex-start;
}

.posterImage img{
  max-width: 100%;
}

.borderFavorite{
  border: 2px solid mintcream;
  color: mintcream;
}

.starImg{
  width: 40px;
  height: 40px;
}

.star-filtered{
  /*light-pink*/
  /*filter: invert(15%) sepia(96%) saturate(3992%) hue-rotate(275deg) brightness(107%) contrast(136%);*/

  filter: invert(0%) sepia(11%) saturate(7496%) hue-rotate(51deg) brightness(107%) contrast(95%);
}

.mtop{
  margin-top: 15px;
}




