<div (window:resize)="onResize($event)">
  <app-header></app-header>
  <div class="d-flex flex-column favorite-body">
    <label class="myFavorite">My favorite</label>
    <div class="d-flex flex-row" *ngFor="let poster of posters">
      <div class="col-md-6 col-lg-3 posterImage">
        <img src="{{ poster.fullImagePath }}"
             [routerLink]="'/details'"
             (click)="onPosterSelected(poster)">
      </div>
      <div class="col-md-6 col-lg-9">
        <div class="row p-0 m-0 posterTitle">
          <div class="posterName"> {{ poster.name }}</div>
          <button class="btn unfavorite-btn" (click)="onUnfavoriteClick(poster.id)">Unfavorite</button>
        </div>
        <div class="posterOverview" [ngStyle]="{'-webkit-line-clamp': lineClamp}"> {{ poster.overview }}</div>
      </div>
    </div>
  </div>
</div>
